Lesson_1/Task_1/*
!Lesson_1/Task_1/main.cpp
Lesson_1/Task_2/*
!Lesson_1/Task_2/main.cpp
Lesson_1/Task_3/*
!Lesson_1/Task_3/main.cpp
Lesson_1/Task_4/*
!Lesson_1/Task_4/main.cpp
Lesson_1/Task_5/*
!Lesson_1/Task_5/main.cpp
Lesson_1/Task_6/*
!Lesson_1/Task_6/main.cpp
Lesson_1/Task_7/*
!Lesson_1/Task_7/main.cpp
Lesson_2/Task_1/*
!Lesson_2/Task_1/main.cpp
build*
*.pro
*.user